<header>
  <div class=".container">
    <h2 class="title">Welcome to David's Markdown hideaway!</h2>
  </div>
</header>

<main>
  <div class=".container">
    {{outlet}}
  </div>
</main>

<footer>
  <div class=".container">
    {{#link-to 'index'}}<span>Home</span>{{/link-to}}
  </div>
</footer>
